﻿{% extends "base.html" %}

{% block content %}     

            Ocena <br>
                      
            <form action="/films/addreview/{{film.id}}" method="post">
                {% csrf_token %}
                <input type="number" name="rate" min="0" max="10">
                
                <input type="submit" value="Oceń">
            </form>         
            
{% endblock %} 
