<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "style.css" %}/>
    <title>{% block title %}Wypożyczalnia filmów i seriali{% endblock %}</title>
</head>

<body>
    <div id="HEADER">
    {% if user.is_authenticated %}
        Zalogowany jako: {{user.username}} |
        <a href="/logout">Wyloguj</a>
    {% else %}
        <a href="/login">Zaloguj</a>
    {% endif %}
    
    </div>
    <div id="MENU">
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/films/">Filmy</a></li>
                <li><a href="/user/rented_films">Wypożyczone filmy </a></li>
                <li><a href="/reviews/">Recenzje filmów </a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="CONTENT">
        {% block content %}{% endblock %}
    </div>
</body>
</html> 
