{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>
        Tytuł
        </th>
        <th>
        Reżyser
        </th>
    </tr>
    
{% for film in films %}
    <tr>
        <td>
            <a href="/films/details/{{film.id}}">{{ film.title }}</a>
        </td>
        <td>
            {{ film.director }}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %} 
