{% extends "base.html" %}

{% block content %}
    <div id="TEXT-LEFT">
        Tytuł: {{film.title}} <br />
        Reżyser: {{film.director}} <br />
        Średnia ocena: {{average_rating}} <br />
        {% if not user_rating %}
            <a href="/films/addreview/{{film.id}}">Oceń</a>
        {% else %}
            Twoja ocena: {{user_rating.rating}}
        {% endif %}
    </div>
    {% if reviews %}
        <table>
            <tr>
                <th>
                Recenzent
                </th>
                <th>
                Ocena
                </th>
            </tr>
            {% for review in reviews %}
                <tr>
                    <td>
                        {{ review.reviewer }}
                    </td>
                    <td>
                        {{ review.rating }}
                    </td>
                </tr>
            {% endfor %}        
        </table>
    {% else %}
        <div id="TEXT-LEFT">
            Brak recenzji
        </div>
    {% endif %}
    <div id="TEXT-LEFT">
        <br>
        {% if not copy %}
            {% if not already_rented%}
            Brak dostępnych kopii filmu.
            {% else %}
            Już wypożyczyłeś ten film!
            {% endif %}
        {% else %}
            {% if not already_rented%}
                
                <form action="/films/rent/{{film.id}}/copy/{{copy.id}}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Wypozycz">
                </form>
            {% else %}
                Już wypożyczyłeś ten film!
            {% endif %}
        {% endif %}
    </div>
{% endblock %}