{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        Jesteś już zalogowany!
    {% else %}
        {% if login_failed %}
            Nieprawidłowa nazwa użytkownika i/lub hasło.
        {% endif %}

        <form action="/login/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        nazwa użytkownika:
                    </td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        hasło:
                    </td>
                    <td>
                        <input type="password" name="password">
                    </td>
                </tr>
            <table>
            <input type="submit" value="Submit">
        </form>
        
    {% endif %}
{% endblock %} 
 
