{% extends "base.html" %}

{% block content %}
    {% if rented %}
        Film pt. {{film.title}} pomyślnie wypożyczony
    {% else %}

            Dostepne kopie filmu <br>
            {% for copy in copies %}
            <form action="/films/rent/{{film.id}}/copy/{{copy.id}}" method="post">
                {% csrf_token %}
                <input type="submit" value="Wypozycz">
            </form>
            {% endfor %}

    {% endif %}
{% endblock %} 