{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>
        Tytuł
        </th>
        <th>
        Reżyser
        </th>
        <th>
        Zwrócony
        </th>
    </tr>
    
{% for rent_status in rent_status_list %}
    <tr>
        <td>
            <a href="/films/details/{{rent_status.copy.film.id}}">{{ rent_status.copy.film.title }}</a>
        </td>
        <td>
            {{ rent_status.copy.film.director }}
        </td>
        <td>
            {% if rent_status.returned %}
            Tak
            {% else %}
            Nie
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %} 
