﻿{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>
        Tytuł
        </th>
        <th>
        Recenzent
        </th>
        <th>
        Ocena
        </th>
    </tr>
    
{% for review in reviews %}
    <tr>
        <td>
            <a href="/films/details/{{ review.film.id }}">{{ review.film.title }}</a>
        </td>
        <td>
            {{ review.reviewer }}
        </td>
        <td>
            {{ review.rating }}
        </td>
    </tr>
{% endfor %}


</table>
{% endblock %} 