html, body {
	background-color: #887;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}

#top {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#TEXT-LEFT {
	text-align: left;
}

#HEADER {
	background-color: #889;
	text-align: right;
  	min-height:3vh;
}

#MENU {
	width: 200px;
	float: left;
	overflow: hidden;
	background-color: #ccc;
	margin-left: 0px; padding: 0;
	text-align: left;
}

#CONTENT {
	width: 50%;
	align-content: center;
	margin:auto;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	min-height:95vh;
}

#FOOTER {
	clear: both;
	width: 100%;
	background-color: #888;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}